---
layout: default
title: CS2340 Objects and Design
---

<div class="jumbotron">
  <div class="media">
    <a class="pull-left" href="http://mitpress.mit.edu/sicp/">
      <img class="media-object" src="images/cs2340-uml.png"
           title="Thank you Professors Abelson and Sussman">
    </a>
    <div class="media-body info" padding="10px">
      <h1 class="media-heading">Objects and Design</h1>
      <h2>Christopher Simpkins</h2>
      <h3>College of Computing, Room 133</h3>
      <h3>simpkins@cc.gatech.edu</h3>
      <h3><a href="http://www.cc.gatech.edu/~simpkins/">http://www.cc.gatech.edu/~simpkins/</h3>
    </div>
  </div>

</div>

Possibly of interest:

<ul>
  <li><a href="https://play.google.com/music/playlist/AMaBXyn2EE_P4YaQwahomxOXF7LeEJZwRYmHVq0EEg3MM6LWASVddNpcMWpKu2fBK1oGGN4kcppVBG7TyUkGBZYRhnBrxDG08Q%3D%3D">Class Bumper Music</a></li>
  <li><a href="TARecruitingClassroomSlidesforSummer2019Fall2019-brief.pdf">TA Recruiting Slides Summer/Fall 2019</a></li>
</ul>
