---
layout: default
title: CS2340-C  - Spring 2019
---

<h1>Spring 2019</h1>

<ul>

  <li>Lecture: Mondays, Wednesdays, and Fridays at 11:15 in Klaus 1456</li>
</ul>

<h2>Lecture Schedule</h2>

<p>
  Topics link to slides, where available.  Topics noted with (Recitation) are covered in recitation that week, not in lecture.  You're responsible for everything listed on this schedule, some of which may not be covered in lecture or recitation.
</p>

<ul>
    <li>PIS means <a href="https://www.artima.com/shop/programming_in_scala_3ed" target="_new">Programming in Scala</a></li>
    <li>FPIS means <a href="https://www.manning.com/books/functional-programming-in-scala" target="_new">Functional Programming in Scala</a></li>
    <li>SFTI means <a href="http://www.informit.com/store/scala-for-the-impatient-9780134540566" target="_new">Scala for the Impatient</a></li>
    <li>DDD means <a href="http://www.informit.com/store/domain-driven-design-tackling-complexity-in-the-heart-9780321125217" target="_new">Domain-Driven Design</a></li>
    <li>DDDD means <a href="http://www.informit.com/store/domain-driven-design-distilled-9780134434421" target="_new">Domain Driven Design Distilled</a></li>
    <li>CA means <a href="http://www.informit.com/store/clean-architecture-a-craftsmans-guide-to-software-structure-9780134494166" target="_new">Clean Architecture</a></li>
    <li>GoF means <a href="http://www.informit.com/store/design-patterns-elements-of-reusable-object-oriented-9780201633610" target="_new">Design Patterns: Elements of Reusable Object-Oriented Software</a></li>
    <li>ES means <a href="http://www.informit.com/store/essential-scrum-a-practical-guide-to-the-most-popular-9780137043293" target="_new">Essential Scrum</a></li>

</ul>

<div class="table-responsive">
  <table class="table table-bordered table-hover">

    <tr class="table-header active">
      <th>Date</th>
      <th>Topics</th>
      <th>Reading and Resources</th>
      <th>Reminders</th>
    </tr>
    
    
    <tr class="active"><td colspan="4">Scala Basics</td></tr>
    
    
    
    <tr class="active"><td colspan="4">Week 1</td></tr>
    
    
    
    <tr>
      <td>2019-01-07</td>
      <td>
        
        <a href="slides/cs2340-intro.pdf">Intro to CS2340</a>
      </td>
      <td>
        
        <a href="resources.html">Getting Started</a><br/>
        
        PIS, Ch 1<br/>
        
        
      </td>
      <td>
        
        <a href="spring2019/hw0/hw0.html">HW0 Released 2019-01-07</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-01-09</td>
      <td>
        
        <a href="slides/scala-intro.pdf">Intro to Scala</a>
      </td>
      <td>
        
        PIS, Ch 2<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-01-11</td>
      <td>
        
        <a href="slides/scala-values-variables.pdf">Values and Variables</a>
      </td>
      <td>
        
        Primary reading: PIS, Ch 2, 3, 5<br/>
        
        Code: <a href="code.html#basics">Basics</a><br/>
        
        
      </td>
      <td>
        
        Registration Deadline (2019-01-11)
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Week 2</td></tr>
    
    
    
    <tr>
      <td>2019-01-14</td>
      <td>
        
        <a href="slides/scala-control-structures.pdf">Scala Control Structures</a>
      </td>
      <td>
        
        Primary reading: PIS, Ch 7<br/>
        
        Code: <a href="code.html#basics">Basics</a><br/>
        
        
      </td>
      <td>
        
        <a href="spring2019/hw0/hw0.html">HW0 Due 2019-01-15</a><br/>
        
        Payment Deadline (2019-01-14)
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-01-16</td>
      <td>
        
        <a href="slides/scala-function-basics.pdf">Scala Functions</a>
      </td>
      <td>
        
        Primary reading: PIS, Ch 2.3, 8, 9<br/>
        
        Code: <a href="code.html#basics">Basics</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-01-18</td>
      <td>
        
        <a href="slides/scala-classes-objects.pdf">Scala Classes and Objects</a>
      </td>
      <td>
        
        Primary reading: PIS, Ch 4, 6<br/>
        
        Code: <a href="code.html#basics">Basics</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Software Engineering</td></tr>
    
    
    
    <tr class="active"><td colspan="4">Week 3</td></tr>
    
    
    
    <tr>
      <td>2019-01-21</td>
      <td>
        
        MLK Day - No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        <a href="spring2019/hw1/listutils.html">HW1 Released 2019-01-22</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-01-23</td>
      <td>
        
        <a href="slides/scala-function-basics.pdf">Scala Functions</a>
      </td>
      <td>
        
        Primary reading: PIS, Ch 2.3, 8, 9<br/>
        
        Code: <a href="code.html#basics">Basics</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-01-25</td>
      <td>
        
        <a href="slides/scala-oop.pdf">Scala OOP</a>
      </td>
      <td>
        
        PIS, Ch 10, 11<br/>
        
        
      </td>
      <td>
        
        Verification of Participation (Faculty Only) (2019-01-25)
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Week 4 (Dr. CS will be at <a href="https://aaai.org/Conferences/AAAI-19/" target="_blank">AAAI-2019</a> all week)</td></tr>
    
    
    
    <tr>
      <td>2019-01-28</td>
      <td>
        
        <a href="slides/project-logistics.pdf">Project Logistics</a>
      </td>
      <td>
        
        <a href="intellij.html">IntelliJ</a><br/>
        
        <a href="https://git-scm.com/book/en/v2">Pro Git</a><br/>
        
        <a href="https://www.scala-sbt.org/">SBT</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-01-30</td>
      <td>
        
        <a href="slides/project-logistics.pdf">Project Logistics</a>
      </td>
      <td>
        
        <a href="intellij.html">IntelliJ</a><br/>
        
        <a href="https://git-scm.com/book/en/v2">Pro Git</a><br/>
        
        <a href="https://www.scala-sbt.org/">SBT</a><br/>
        
        
      </td>
      <td>
        
        <a href="spring2019/hw1/listutils.html">HW1 Due 2019-01-31</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-02-01</td>
      <td>
        
        Sprint Planning (No Lecture)
      </td>
      <td>
        
        
      </td>
      <td>
        
        <a href="spring2019/project/risk.html">M0: Team Formation Due</a>
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Object-Oriented Design</td></tr>
    
    
    
    <tr class="active"><td colspan="4">Week 5</td></tr>
    
    
    
    <tr>
      <td>2019-02-04</td>
      <td>
        
        <a href="slides/scala-oop.pdf">Scala OOP</a>
      </td>
      <td>
        
        PIS, Ch 10, 11<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-02-06</td>
      <td>
        
        <a href="slides/software-engineering.pdf">Software Engineering</a><br/>
        
        software-design
      </td>
      <td>
        
        <br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-02-08</td>
      <td>
        
        <a href="slides/oo-design.pdf">Object-Oriented Design</a>
      </td>
      <td>
        
        CA, Ch 7 - 11<br/>
        
        GoF, Ch1 - 2<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Week 6</td></tr>
    
    
    
    <tr>
      <td>2019-02-11</td>
      <td>
        
        <a href="spring2019/project/risk.html">Project Launch</a>
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-02-13</td>
      <td>
        
        <a href="slides/solid-design.pdf">SOLID Design</a>
      </td>
      <td>
        
        CA, Ch 7 - 11<br/>
        
        GoF, Ch1 - 2<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-02-15</td>
      <td>
        
        <a href="slides/scala-oop.pdf">Scala OOP</a>
      </td>
      <td>
        
        PIS, Ch 10, 11<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Week 7</td></tr>
    
    
    
    <tr>
      <td>2019-02-18</td>
      <td>
        
        <a href="slides/scala-oop.pdf">Scala OOP</a>
      </td>
      <td>
        
        PIS, Ch 10, 11<br/>
        
        
      </td>
      <td>
        
        Progress Report Deadline (Faculty Only) (2019-02-18)
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-02-20</td>
      <td>
        
        <a href="slides/scala-case-classes.pdf">Scala Case Classes</a>
      </td>
      <td>
        
        PIS, Ch 15<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-02-22</td>
      <td>
        
        <a href="slides/scala-implicits.pdf">Scala Implicits</a>
      </td>
      <td>
        
        PIS, Ch 21<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Week 8</td></tr>
    
    
    
    <tr>
      <td>2019-02-25</td>
      <td>
        
        <a href="slides/scala-play-framework.pdf">Scala Play Framework</a>
      </td>
      <td>
        
        <a href="https://www.playframework.com/documentation">Scala Play Documentation</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-02-27</td>
      <td>
        
        review1
      </td>
      <td>
        
        
      </td>
      <td>
        
        <a href="spring2019/project/risk.html#M1">M1 Due</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-03-01</td>
      <td>
        
        Exam 1
      </td>
      <td>
        
        <br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Advanced Scala</td></tr>
    
    
    
    <tr class="active"><td colspan="4">Week 9</td></tr>
    
    
    
    <tr>
      <td>2019-03-04</td>
      <td>
        
        Project Work Day
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-03-06</td>
      <td>
        
        <a href="slides/scala-collections.pdf">Scala Collections</a>
      </td>
      <td>
        
        PIS, Ch 16, 17, 24, 25<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-03-08</td>
      <td>
        
        <a href="slides/scala-generics.pdf">Scala Generics</a>
      </td>
      <td>
        
        PIS, Ch 19<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Week 10</td></tr>
    
    
    
    <tr>
      <td>2019-03-11</td>
      <td>
        
        <a href="slides/scala-generics.pdf">Scala Generics</a>
      </td>
      <td>
        
        PIS, Ch 19<br/>
        
        
      </td>
      <td>
        
        <a href="spring2019/project/risk.html#M2">M2 Due 2019-03-12</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-03-13</td>
      <td>
        
        <a href="slides/testing.pdf">Testing</a>
      </td>
      <td>
        
        PIS, Ch 14<br/>
        
        <a href="http://www.scalatest.org/">ScalaTest</a><br/>
        
        <a href="https://www.playframework.com/documentation/2.7.x/ScalaTestingYourApplication">Testing Play Applications</a><br/>
        
        
      </td>
      <td>
        
        Withdrawal Deadline (2019-03-13)
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-03-15</td>
      <td>
        
        <a href="slides/refactoring.pdf">Refactoring</a>
      </td>
      <td>
        
        <br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Week 11</td></tr>
    
    
    
    <tr>
      <td>2019-03-18</td>
      <td>
        
        Spring Break - No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-03-20</td>
      <td>
        
        Spring Break - No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-03-22</td>
      <td>
        
        Spring Break - No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Software Architecture</td></tr>
    
    
    
    <tr class="active"><td colspan="4">Week 12</td></tr>
    
    
    
    <tr>
      <td>2019-03-25</td>
      <td>
        
        <a href="slides/oo-design-patterns.pdf">OO Design Patterns</a><br/>
        
        <a href="slides/creational-patterns.pdf">Creational Design Patterns</a>
      </td>
      <td>
        
        GoF, Ch <br/>
        
        GoF, Ch 3<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-03-27</td>
      <td>
        
        <a href="slides/structural-patterns.pdf">Structural Design Patterns</a><br/>
        
        <a href="slides/behavioral-patterns.pdf">Behavioral Design Patterns</a>
      </td>
      <td>
        
        GoF, Ch 4<br/>
        
        GoF, Ch 5<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-03-29</td>
      <td>
        
        <a href="slides/clean-code.pdf">Clean Code</a>
      </td>
      <td>
        
        CC<br/>
        
        
      </td>
      <td>
        
        <a href="spring2019/project/risk.html#M3">M3 Due</a>
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Functional Design</td></tr>
    
    
    
    <tr class="active"><td colspan="4">Week 13</td></tr>
    
    
    
    <tr>
      <td>2019-04-01</td>
      <td>
        
        <a href="slides/scala-fp-basics.pdf">Intro to Functional Programming in Scala</a>
      </td>
      <td>
        
        <a href="https://www.manning.com/books/functional-programming-in-scala">Functional Programming in Scala</a>, Ch 1, 2<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-04-03</td>
      <td>
        
        Project Work Day
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-04-05</td>
      <td>
        
        <a href="slides/clean-classes.pdf">Clean Classes</a>
      </td>
      <td>
        
        CC<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Week 14</td></tr>
    
    
    
    <tr>
      <td>2019-04-08</td>
      <td>
        
        scala-functional-abstraction
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-04-10</td>
      <td>
        
        <a href="slides/scala-functional-data-structures.pdf">Functional Data Structures</a>
      </td>
      <td>
        
        <a href="https://www.manning.com/books/functional-programming-in-scala">Functional Programming in Scala</a>, Ch 3<br/>
        
        <a href="code.html#fp">FP Scala Code</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-04-12</td>
      <td>
        
        <a href="slides/scala-functional-data-structures.pdf">Functional Data Structures</a>
      </td>
      <td>
        
        <a href="https://www.manning.com/books/functional-programming-in-scala">Functional Programming in Scala</a>, Ch 3<br/>
        
        <a href="code.html#fp">FP Scala Code</a><br/>
        
        
      </td>
      <td>
        
        <a href="spring2019/project/risk.html#M4">M4 Due</a>
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Week 15</td></tr>
    
    
    
    <tr>
      <td>2019-04-15</td>
      <td>
        
        <a href="slides/scala-functional-error-handling.pdf">Functional Error Handling</a>
      </td>
      <td>
        
        <a href="https://www.manning.com/books/functional-programming-in-scala">Functional Programming in Scala</a>, Ch 4<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-04-17</td>
      <td>
        
        <a href="slides/scala-functional-error-handling.pdf">Functional Error Handling</a>
      </td>
      <td>
        
        <a href="https://www.manning.com/books/functional-programming-in-scala">Functional Programming in Scala</a>, Ch 4<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-04-19</td>
      <td>
        
        scala-functional-parallelism
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Week 16</td></tr>
    
    
    
    <tr>
      <td>2019-04-22</td>
      <td>
        
        <a href="slides/monoids.pdf">Monoids</a><br/>
        
        <a href="slides/monads.pdf">Monads</a><br/>
        
        <a href="slides/applicative-traversable-functors.pdf">Applicative and Traversable Functors</a>
      </td>
      <td>
        
        <a href="https://www.manning.com/books/functional-programming-in-scala">Functional Programming in Scala</a>, Ch 10<br/>
        
        <a href="https://www.manning.com/books/functional-programming-in-scala">Functional Programming in Scala</a>, Ch 11<br/>
        
        <a href="https://www.manning.com/books/functional-programming-in-scala">Functional Programming in Scala</a>, Ch 12<br/>
        
        Final Instructional Days (2019-04-22)
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Finals Week</td></tr>
    
    
    
    <tr>
      <td>2019-05-01</td>
      <td>
        
        11:20 AM ‐ 2:10 PM
      </td>
      <td>
        
        
      </td>
      <td>
        
        <a href="spring2019/project/risk.html#M5">M5: Final Delivery Due</a>
      </td>
    </tr>
    
    
  </table>
</div>
